.parent{
    background-image: url(../src/components/foods.png);
    height: 660px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.home1 {
    cursor: pointer;
    border: 1px solid #e7e726;
    height: 50px;
    width: 200px;
    color: #020405;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-left: 300px;
    margin-top: 150px
}
.home2 {
    cursor: pointer;
    border: 1px solid #e7e726;
    height: 50px;
    width: 200px;
    color: #020405;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-left: 1100px;
    margin-top: -77px;
}
.home3 {
    cursor: pointer;
    border: 1px solid #e7e726;
    height: 50px;
    width: 200px;
    color: #020405;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-left: 300px;
    margin-top: 300px;
}
.home4 {
    cursor: pointer;
    border: 1px solid #e7e726;
    height: 50px;
    width: 200px;
    color: #020405;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-left: 1100px;
    margin-top: -80px;
}
.navbar {
    color: #e7e726;
    text-decoration: none;
}
a:link { text-decoration: none; color: inherit; }
a:visited { text-decoration: none; color: inherit;  }
a:hover { text-decoration: none; color: inherit;  }
a:active { text-decoration: none; color: inherit;  }

.ddmenu {
    margin-left: 850px;
}
.card{
    border: none !important;
}
.card-img-top{
    height: 20em;   
}


